In [ ]:
revision:
    int (immutable)
    float (immutable)
    complex (immutable)
    
    str (immutable)
    
    list (mutable)
    tuple (immutable)
    
    dict (mutable){key:value}:
        unique
        immutable
    set (mutable)
    
    bool (immutable)
    None (immutable)

In [ ]:
d = {(1,5,8):[1,2,3]}
true --- Yes
false

In [ ]:
Immutable:
    no changes can be done once initialised :Snegha
    can not be changed or edited :Shashib

In [1]:
l = (1,2,3)
print(id(l))
l = (1,2,3,4)
print(id(l))

2309744957952
2309745395968

In [ ]:
l = 2
l = 3

In [ ]:
an object is immutable when no change is possible over time.
If the value of an object cannot be changed overtime then it is known as
immutable

## `Assignment Operator`

In [ ]:
 = --> assigns the value of right hand side to left hand side

In [3]:
a = 1

In [ ]:
+= --> Add right side operand with left side operand then assign to left hand
side

In [4]:
a = a + 1

In [5]:
print(a)

2

In [6]:
a += 1 #-->a+1 -> v ----> 2+1 =3
       #--> a = v   ----> a=3

In [7]:
print(a)

3

In [8]:
v = a + 1

In [9]:
print(v)

4

In [10]:
print(a)

3

In [11]:
a = v
print(a)

4

In [ ]:
a = 1
a += 1
print(a)

In [ ]:
-=
*=
/=
%=
//=
**=

In [22]:
a = 10
a **= 3
print(a)

1000

In [24]:
z **= 3

NameError: name 'z' is not defined

## `Arithmatic Operators`

In [ ]:
+ -> addition
- --> Subtraction
* --> Multiplication
/ --> Division
% --> Modulus
// --> Floor Division
** --> Exponentiation

In [12]:
2+2

4

In [13]:
2-2

0

In [14]:
5 * 2

10

In [15]:
10/2

5.0

In [16]:
10%3

1

In [17]:
10/3

3.3333333333333335

In [18]:
10//3

3

In [19]:
3**3

27

In [20]:
2**4

16

In [21]:
10**3

1000

## `Relational Operator`

In [ ]:
> --> Greater than
< --> Less than
== -> Equal to
!= -> Not equal to
<= -> Less than equal to
>= -> Greater than equal to

It returns either True or False value

In [25]:
1 > 0

True

In [26]:
2 < 1

False

In [28]:
a = 1
b = 1

In [29]:
a == b

True

In [30]:
a != 5

True

In [31]:
a >= 0

True

In [32]:
print(b<=-1)

False

## `Membership Operator`

In [ ]:
in--> it checks if the value in left hand side is present in right hand side

In [33]:
basket = ["apple","orange","mango"]
print("orange" in basket)

True

In [ ]:
not in

In [34]:
print("banana" not in basket)

True

# `Identity Operator`

In [ ]:
is
it checks if the variable point to same object memory

In [36]:
a = 2
b = 3
c = 2
c is a

True

In [ ]:
is not

In [37]:
x = 2
type(x) is not float

True

In [38]:
type(x) != float

True

In [ ]:
== checks the value whereas is operator check the memory location

## `Logical Operator`

In [ ]:
and
or
not

In [39]:
a = 5
b = 10
c = 7

In [40]:
a>0 and b>9

True