In [ ]:
revise:
    int
    float
    complex
    str
    tuple
    list
    dict
    set
    None
    bool
Negative indexing:
    list
    tuple
    str
Types of Operators:
    assignment operator:
        =,+= etc...
    Comparision Operator:
        ==, !=, >=,<=,>,<
    Logical operator:
        and, or, not
    identity operator:
        is, is not
    {difference between is and ==}
    membership operator:
        in ,not in
    Arithmatic Operator:
        +,-,*,/,//,**,%
Conditional statements:
    if ,else ,elif
input() <--- it takes input from the user and returns it into string format

In [1]:
s = "Khaleel"

In [2]:
s[-5]

'a'

## True Equivalents or `truthy`

In [ ]:
-1,-1.1,True, "great", [1,2,5] ("Hello","world")...

In [3]:
bool([1,2,5])

True

In [6]:
bool([0])

True

In [7]:
bool(("Teja"))

True

## False Equivalent or falsy values

In [ ]:
0,False,None, [],(),{},set(),""

In [8]:
bool(None)

False

In [13]:
bool([])

False

In [14]:
bool(())

False

In [15]:
bool({})

False

In [16]:
bool(set())

False

In [17]:
bool("")

False

## `for loop`

In [ ]:
for i in collection:
    #statement

### iterable

In [ ]:
Iterable is an object which is capable of returning its member one at a time

In [ ]:
list tuple dict set range str

In [18]:
for i in ["Tehashri","Logan","Anurag"]:
    print(i)

Tehashri
Logan
Anurag

In [19]:
for i in ("Tehashri","Logan","Anurag"):
    print(i)

Tehashri
Logan
Anurag

In [20]:
for i in {1:"Teja",None:"Logan"}:
    print(i)

1
None

In [21]:
d = {1:"Teja" , None:"Logan"}

In [22]:
for i in d.values():
    print(i)

Teja
Logan

In [23]:
for i in d.keys():
    print(i)

1
None

In [24]:
for i in d.items():
    print(i)

(1, 'Teja')
(None, 'Logan')

In [26]:
s = set(["s","n","e","g","h","a"])

In [28]:
s = {"s","n","e","g","h","a"}

In [29]:
for i in s:
    print(i)

a
g
n
e
h
s

In [30]:
s[0]

TypeError: 'set' object is not subscriptable

In [31]:
t=('s','a','n')
for i in t:
    print(i)

s
a
n

## `range()` function

In [ ]:
range function is used to generate sequence of numbers

In [ ]:
[1,2,3,4,5,6,7,8,9,10]

In [32]:
range_val = range(1,11)

In [34]:
range_val[9]

10

In [35]:
range_val[0]

1

In [39]:
#syntax
# range(start, stop, step)

In [40]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
print(range(1,11))

range(1, 11)

In [42]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [45]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [46]:
list(range(0,5,2))

[0, 2, 4]

In [47]:
list(range(0,5,3))

[0, 3]

In [49]:
list(range(5,-1,-1))

[5, 4, 3, 2, 1, 0]

In [50]:
list(range(5,-1,-2))

[5, 3, 1]

In [ ]:
Q write all the even numbers between 0-50
hint use conditional statement and for loop

In [54]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [53]:
# second solution Vamshi
print(list(range(1,51,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]