In [ ]:
# split() --> Splits the string based on the delemeter and returns the list,it splits from LHS
# rsplit() -->Splits the string based on the delemeter and returns the list,it splits from RHS
# replace() --> replaces any specific character with new one
# join() --> joins the list of strings with delimiter
# count() --> counts the number of specified characters in the string
# capitalize() -> capitalize first chararcter of string
# upper() --> it converts all the lower cases characters to uppercases
# lower() --> it converts all the upper cases characters to lowercases
# title() --> capitalizes first letter of each word in a sentence
# istitle() --> returns Boolean value based on the string provided is in title case or not
# isupper() --> checks if all the characters of string is in upper case and returns boolean value
# islower() --> checks if all the characters of string is in lower case and returns boolean value
# input() --> gets value from user as string

In [ ]:
"Akash is going to school" --> hardcoded string
"Happy B'day"
''' 
hey Vaibhav
'''

In [3]:
print(''' 
hey 
Vaibhav
''')

hey
Vaibhav

In [6]:
print("hey \nVaibhav")

hey
Vaibhav

In [7]:
print("hey \\nVaibhav")

hey \nVaibhav

In [8]:
print('happy b\'Day')

happy b'Day

In [9]:
s = 'happy b\'Day'
if 'b\'Day' in s:
    print(s.replace('b\'Day','Birthday'))

happy Birthday

In [13]:
# default or implicit order
'Happy B\'Day{} {} {}'.format("ðŸ¥³","Raghul",".")

"Happy B'DayðŸ¥³ Raghul ."

In [14]:
'Happy B'Day{} {} {}'.format("ðŸ¥³","Raghul",".")

SyntaxError: unterminated string literal (detected at line 1) (2143068550.py, line 1)

In [26]:
# order using positional arguments
"Following is the order of birthdays of students {2},{0},{1}".format("Abhinav","Raghul","Kunal")

'Following is the order of birthdays of students Kunal,Abhinav,Raghul'

In [28]:
# order using keyword argument
"Raghul got {sanket},{umang},{anjan} and {vaibhav} in bithday".format(umang="apple",vaibhav="mango",anjan="iphone",sanket="porche")

'Raghul got porche,apple,iphone and mango in bithday'

In [29]:
print('Happy B\'Day{} {} {}'.format("ðŸ¥³","Raghul","."))

Happy B'DayðŸ¥³ Raghul .

## `print()`

In [30]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [36]:
s,a,n = "Snegha Manikandan","Anjaneyulu","Neeraj"
print(s,end=" ")
print(a,end="*\n")
print(n)

Snegha Manikandan Anjaneyulu*
Neeraj

In [58]:
print(s,a,n,end=" \nSan\n",sep=" & ")
print("Hello World")

Snegha Manikandan & Anjaneyulu & Neeraj
San
Hello World

## List

In [ ]:
mutable data type
ordered collection

In [51]:
l = ["Vegetables","Fruits",23.0]

In [56]:
print(l[0],l[1],l[2],sep="--")

Vegetables--Fruits--23.0

In [59]:
l = [["Potato","Tomato","Egg plant"],["Apple","Mango","Banana"],23.0]

In [60]:
l[0]

['Potato', 'Tomato', 'Egg plant']

In [63]:
l[0][0]

'Potato'

In [65]:
l[0][0][1:]

'otato'

In [67]:
l[0][1][2]

'm'

In [68]:
# we can have duplicate elements
l = [1, 1, 1, 2, 2, "Sashi","Sashi"]

In [69]:
print(l)

[1, 1, 1, 2, 2, 'Sashi', 'Sashi']

In [70]:
#size of list
len(l)

7

In [71]:
# append() --> one argument
l.append(5.23)

In [72]:
print(l)

[1, 1, 1, 2, 2, 'Sashi', 'Sashi', 5.23]

In [73]:
l = l + ["Edyoda"] #Another way

In [74]:
print(l)

[1, 1, 1, 2, 2, 'Sashi', 'Sashi', 5.23, 'Edyoda']

In [75]:
#insert() --> adds element at given index position
l.insert(1,"Snegha")

In [76]:
print(l)

[1, 'Snegha', 1, 1, 2, 2, 'Sashi', 'Sashi', 5.23, 'Edyoda']

In [77]:
l[0] = "Anjan"

In [78]:
print(l)

['Anjan', 'Snegha', 1, 1, 2, 2, 'Sashi', 'Sashi', 5.23, 'Edyoda']

In [79]:
g = ["Hey","Buddy"]

In [80]:
#extend --> used to add multiple items at the end of the list
g.extend(l)

In [81]:
print(g)

['Hey', 'Buddy', 'Anjan', 'Snegha', 1, 1, 2, 2, 'Sashi', 'Sashi', 5.23, 'Edyoda']

In [82]:
l = list()

In [83]:
l.append(g[-4])

In [84]:
print(l)

['Sashi']

In [85]:
l.extend("Sanket")

In [86]:
print(l)

['Sashi', 'S', 'a', 'n', 'k', 'e', 't']

In [ ]:
s = "sanket"