## `Conditional Statements`

In [ ]:
if expression:
    #statements
    if expression2:
        # statements 2

## if else statement

In [ ]:
number = 0
if number>=0:
    print("Positive or Zero")
else:
    print("Negative")

## if elif ... else

### identify zero,positive number, negative number

In [3]:
number = -1
if number == 0:
    print("The number is zero Hurray")
elif number > 0:
    print("Positive Number")
else:
    print("Negative Number")

Negative Number

In [4]:
number = -1
if number == 0:
    print("The number is zero Hurray")
elif number > 0:
    print("Positive Number")
elif number < 0:
    print("Negative Number")

Negative Number

In [ ]:
int
str
float
complex
bool
tuple
list
set
dict
None

In [5]:
type(12)

int

In [ ]:
int --> str

In [7]:
d = str(12)

In [8]:
type(d)

str

In [17]:
d

'12'

In [13]:
num = 12
num_float = float(num)

In [11]:
print(type(num_float))

<class 'float'>

In [14]:
print(num_float)

12.0

In [15]:
bool(num)

True

In [16]:
bool(0)

False

In [18]:
num = 12.3
print(id(num))

1673673808240

In [20]:
id(int(num))

1673593553488

In [ ]:
12 --> tuple

In [21]:
tuple(12)

TypeError: 'int' object is not iterable

In [23]:
list([12])

[12]

In [24]:
num = 5 
x = [num]
print (type(x))
print (x)

<class 'list'>
[5]

In [25]:
s = "Vamshi"

In [26]:
list(s)

['V', 'a', 'm', 's', 'h', 'i']

In [27]:
tuple(s)

('V', 'a', 'm', 's', 'h', 'i')

In [30]:
set(s)

{'V', 'a', 'h', 'i', 'm', 's'}

In [29]:
dict(s)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [31]:
s = input()

kumar neeraj

In [32]:
print(s)

kumar neeraj

In [33]:
print(type(s))

<class 'str'>

In [36]:
int_val = int(input())

23

In [37]:
type(int_val)

int

In [38]:
int_val = int(input())

kunal

ValueError: invalid literal for int() with base 10: 'kunal'

In [41]:
number = int(input())
if number == 0:
    print("The number is zero Hurray")
elif number > 0:
    print("Positive Number")
elif number < 0:
    print("Negative Number")

-1
Negative Number

In [7]:
num = 2
if isinstance(num, int):
    print("the value is int type")
else:
    print("the value is other types")

the value is int type

In [9]:
num = 34.22
print(isinstance(num, float))

True

In [10]:
print(type(num))

<class 'float'>

In [11]:
if type(num) == float:
    print("no. is float type")
else:
    print("no. is other type")

no. is float type

### Nested if else

Q if the number is positve and even then find the square else if it is odd find its cube and print it else if the number is negative or zero print the number

In [13]:
num = int(input())
if num>0:
    if num%2==0:
        print("You have Even number",num**2)
    else:
        print("You have odd number",num**3)
else:
    print(num)

4
You have Even number 16

In [14]:
number=input("enter the number")
if number==0:
    print("the no. is positive number")
elif number > 0:
    print("positive number")
else:
    print("negative number")

enter the number5

TypeError: '>' not supported between instances of 'str' and 'int'

## For loops

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
for sashi in l:
    print(sashi)

1
2
3
4
5
6
7
8
9
10